.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #ffffff;
}

.loading-logo {
  width: 120px;
  margin-bottom: 25px;
  animation: pulse 1.8s ease-in-out infinite;
}

/* Caixa da barra */
.loading-bar-container {
  width: 180px;
  height: 8px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* A barra que corre */
.loading-bar {
  width: 60px;
  height: 100%;
  background: linear-gradient(90deg, #ff5757, #d11d1d);
  border-radius: 10px;
  animation: loading-run 0.9s linear infinite;
}

/* animação de pulsar a logo */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

/* animação da barra correndo */
@keyframes loading-run {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(180px);
  }
}
