@import url("../../App.css");

.footer__catalogo {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer__catalogo strong {
  font-weight: 600;
}

.separador {
  width: 50%;
  border: 0.5px solid var(--text-color);
}
