:root {
  --header-bg-color: #0b2f47;
  --bg-color-button: #007bff;
  --hover-bg-color-button: #0056b3;
  --text-color: #ffffff;
  --secondery-text-color: #000000;
  --third-text-color: #555555;
  --fourth-text-color: #888888;
}
