@import "../../App.css";

.produto__title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.newProduto__link {
  display: flex;
  justify-content: end;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
}

.btn__cadastrar {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--bg-color-button);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn__cadastrar:hover {
  background-color: var(--hover-bg-color-button);
}
